.frame {
	position: absolute;
	width: 105px;
	height: 57px;
	left: 28px;
	top: 21px;

	&.start {
		left: 35.83%;
		right: 35.97%;
		top: 42.75%;
		bottom: 49.1%;

		width: 150px;
		height: 90px;
	}
}

.img {
	position: absolute;
	left: 80px;
	bottom: 43px;
	width: 20.4px;
	height: 17.32px;

	&.start {
		left: 120px;
		bottom: 68px;
		width: 42.29px;
		height: 44.94px;
	}
}

.Logo {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 35px;
	user-select: none;

	width: 102.01px;
	height: 40.41px;

	background: linear-gradient(to right, #0d4cac, #84aeec);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	&.start {
		font-size: 48px;
		line-height: 56px;

		width: 135.33px;
		height: 50.17px;

		background: linear-gradient(to right, white, #00cbd6);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
